# Configurações de Acesso ao Elasticsearch da Plataforma PCDaS/Fiocruz
# Tutorial de Referência: https://pcdas.icict.fiocruz.br/tutoriais/tutorial-sim/

# Host de conexão (Padrão: dados-pcdas.icict.fiocruz.br)
PCDAS_ELASTIC_HOST=dados-pcdas.icict.fiocruz.br
PCDAS_ELASTIC_PORT=443
PCDAS_ELASTIC_PROTOCOL=https

# Credenciais de acesso cadastradas na plataforma PCDaS
PCDAS_ELASTIC_USER=seu_usuario_aqui
PCDAS_ELASTIC_PASSWORD=sua_senha_aqui

# Nome do índice do Sistema de Informações sobre Mortalidade
PCDAS_ELASTIC_INDEX=datasus-sim
